* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

label {
    color: #929090;
}

input::placeholder {
    color: darkgray !important;
}

.bg-submit {
    background-color: #4984c4;
    border-color: #4984c4;
}

.bg-submit:hover {
    background-color: #456b95;
}

.cancel {
    border: 1px solid darkgray;
}

.inbox {
    border: 1px solid #dfdbdb;
    border-radius: 10px;
}

.inbox h6 {
    background: #f5f5f5;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    border-bottom: inherit;
    color: darkgray;
    font-weight: 700;
}

.inbox p {
    font-size: 14px;
    font-weight: 500;
    color: #4a4c4f;
}

@media all and (min-width: 480px) {
    .Login {
        padding: 60px 0;
    }

    .Login form {
        margin: 0 auto;
        max-width: 320px;
    }
}